﻿@page "/editemployee/{id}"
@page "/editemployee"

@inherits EditEmployeeBase

<EditForm Model="@Employee" OnValidSubmit="HandleValidSubmit">
    <h3>@PageHeader</h3>
    <DataAnnotationsValidator />
    <hr />
    <ValidationSummary />
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            First Name
        </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="First Name"
                       @bind-Value="Employee.FirstName" />
            <ValidationMessage For="@(() => Employee.FirstName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">
            Last Name
        </label>
        <div class="col-sm-10">
            <InputText id="lastName" class="form-control" placeholder="Last Name"
                       @bind-Value="Employee.LastName" />
            <ValidationMessage For="@(() => Employee.LastName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">
            Email
        </label>
        <div class="col-sm-10">
            <InputText id="email" class="form-control" placeholder="Email"
                       @bind-Value="Employee.Email" />
            <ValidationMessage For="@(() => Employee.Email)" />
        </div>
    </div>
    @if (Employee.EmployeeId <= 0)
    {
        <div class="form-group row">
            <label for="ConfirmEmail" class="col-sm-2 col-form-label">
                Confirm Email
            </label>
            <div class="col-sm-10">
                <InputText id="ConfirmEmail" class="form-control" placeholder="Confirm Email"
                           @bind-Value="Employee.ConfirmEmail" />
                <ValidationMessage For="@(() => Employee.ConfirmEmail)" />
            </div>
        </div>
    }
    <div class="form-group row">
        <label for="department" class="col-sm-2 col-form-label">
            Department
        </label>
        <div class="col-sm-10">
            <CustomInputSelect @bind-Value="Employee.DepartmentId" class="form-control">
                @foreach (var dept in Departments)
                {
                    <option value="@dept.DepartmentId">@dept.DepartmentName</option>
                }
            </CustomInputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="gender" class="col-sm-2 col-form-label">
            Gender
        </label>
        <div class="col-sm-10">
            <InputSelect @bind-Value="Employee.Gender" class="form-control">
                @foreach (var gender in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@gender">@gender</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="dateOfBirth" class="col-sm-2 col-form-label">
            Date Of Birth
        </label>
        <div class="col-sm-10">
            <InputDate @bind-Value="Employee.DateOfBirth" class="form-control" />
        </div>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
        @if (Employee.EmployeeId > 0)
        {
            <button class="btn btn-danger" type="button" @onclick="Delete_Click">
                Delete
            </button>
        }
    </div>

</EditForm>