﻿@page "/employeelists"
@inherits EmployeeListBase

<h3>Employee List</h3>
<h3>Selected Employee Count - @SelectedEmployeesCount</h3>

<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>

@if (_employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in _employees)
        {
            <DisplayEmployee OnEmployeeSelection="EmployeeSelectionChanged" Employee="employee"
                             ShowFooter="ShowFooter"></DisplayEmployee>
        }
    </div>
}




@*<div class="card-deck">
        @foreach (var employee in _employees)
        {
            <DisplayEmployee OnEmployeeSelection="EmployeeSelectionChanged" Employee="employee"
    ShowFooter="ShowFooter"></DisplayEmployee>
        }
    </div>*@
@*<div class="card-deck">
        @foreach (var employee in _employees)
        {
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3>@employee.FirstName @employee.LastName</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="@employee.PhotoPath" />
                <div class="card-footer text-center">
                    <a href="@($"employeedetails/{employee.EmployeeId}")"
                       class="btn btn-primary m-1">View</a>

                    <a href="@($"editemployee/{employee.EmployeeId}")"
                       class="btn btn-primary m-1">Edit</a>

                    <a href="#" @onclick="Delete_Click" class="btn btn-danger m-1">Delete</a>

                </div>
            </div>
        }
    </div>*@ 