﻿@page "/employeedetails"
@page "/employeedetails/{Id}"
@inherits EmployeeDetailsBase

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Employee.FirstName @Employee.LastName</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top imageThumbnail" src="@Employee.PhotoPath" />
                <h4>Employee ID : @Employee.EmployeeId</h4>
                <h4>Email : @Employee.Email</h4>
                @*<h4>Department : @Employee.Department.DepartmentId</h4>*@
            </div>
            <div class="card-footer text-center">
                <a href="/EmployeeLists" class="btn btn-primary">Back</a>
                <a href="@($"editemployee/{Employee.EmployeeId}")"
                   class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>