﻿@page "/ParentComponent"

<h3>ParentComponent</h3>



<ChildComponent required="required" maxlength="100" size="50"
                placeholder="Parent Component Placeholder">
</ChildComponent>
<br />
<br />
<ChildComponent InputAttributes="attributesFromParent">
</ChildComponent>

@code {
    public Dictionary<string, object> attributesFromParent { get; set; } =
        new Dictionary<string, object>()
        {
            { "required", "required" },
            { "placeholder", "Parent Component Placeholder" },
            { "size", "50" },
            { "maxlength", "5" }
                };
}